<div class="row justify-content-center">
  <div class="card col-md-8">
    <div class="card-header">
      <h3>Đăng Nhập</h3>
      <div class="d-flex justify-content-end social_icon">
        <span><em class="fab fa-facebook-square"></em></span>
        <span><em class="fab fa-google-plus-square"></em></span>
        <span><em class="fab fa-twitter-square"></em></span>
      </div>
    </div>
    <div class="card-body">
      <app-loading [loading]="loading$ | async"></app-loading>
      <div class="alert alert-success" *ngIf="successMessage$ | async">
        {{ successMessage$ | async }} Hãy đăng nhập vào hệ thống.
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><em class="fas fa-user"></em></span>
          </div>
          <input
            type="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': form.email.touched && form.email.errors
            }"
            placeholder="Email"
            formControlName="email"
            name="email"
            autofocus="autofocus"
            required
          />
          <div class="invalid-feedback">Địa chỉ email không hợp lệ!</div>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><em class="fas fa-key"></em></span>
          </div>
          <input
            type="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': form.password.touched && form.password.errors
            }"
            placeholder="Mật khẩu"
            formControlName="password"
            name="password"
            required
          />
          <div class="invalid-feedback">Bạn chưa nhập mật khẩu!</div>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="errorMessage$ | async"
          >
            {{ errorMessage$ | async }}
          </div>
        </div>
        <div class="row align-items-center remember">
          <input type="checkbox" />Ghi nhớ
        </div>
        <div class="form-group">
          <input
            type="submit"
            value="Đăng nhập"
            class="btn float-right login_btn"
          />
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Đăng kí ngay <a routerLink="/register">tại đây</a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="#">Quên mật khẩu?</a>
      </div>
    </div>
  </div>
</div>
