<div class="container-fluid m-3">
  <div id="content">
    <h3>Đăng tin</h3>
    <h5>Thông tin liên hệ</h5>
    <hr style="background-color: black" />
    <div class="col-md-12 px-5">
      <div class="row">
        <label class="col-sm-3">Họ và tên:</label>
        <label class="col-sm-9">{{ (user$ | async)?.name }}</label>
      </div>
      <div class="row">
        <label class="col-sm-3">Email:</label>
        <label class="col-sm-9">{{ (user$ | async)?.email }}</label>
      </div>
      <div class="row">
        <label class="col-sm-3">Địa chỉ:</label>
        <label class="col-sm-9">{{ (user$ | async)?.address }}</label>
      </div>
      <div class="row">
        <label class="col-sm-3">Số điện thoại:</label>
        <label class="col-sm-9">{{ (user$ | async)?.phoneNumber }}</label>
      </div>
    </div>
    <hr style="background-color: black" />
    <div class="d-flex">
      <h5>Nội dung tin</h5>
      <a class="note">(vui lòng điền đầy đủ tất cả các mục)</a>
    </div>
    <hr style="background-color: black" />
  </div>
  <form
    class="col-md-12 px-5"
    [formGroup]="postingForm"
    (ngSubmit)="submitForm()"
  >
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="category">Danh Mục:</label>
      <div class="col-sm-9">
        <select id="category" class="form-control" formControlName="category">
          <option
            *ngFor="let category of categories$ | async"
            [ngValue]="category"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="regions">Vùng Miền:</label>
      <div class="col-sm-9">
        <select class="form-control" id="regions" formControlName="region">
          <option *ngFor="let region of regions$ | async" [ngValue]="region">
            {{ region.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Bạn Là:</label>
      <div class="col-sm-9 col-form-label">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            formControlName="userType"
            id="personal"
            [value]="true"
          />
          <label class="form-check-label" for="personal">Cá Nhân</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            formControlName="userType"
            id="company"
            [value]="false"
          />
          <label class="form-check-label" for="company">Công ty</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Bạn Đăng Tin:</label>
      <div class="col-sm-9 col-form-label">
        <!-- <div
          class="form-check form-check-inline"
          *ngFor="let postType of postTypes"
        >
          <div *ngIf="postType.status">
            <input
              class="form-check-input"
              type="radio"
              formControlName="postType"
              id="{{ postType.id }}"
              [value]="postType"
            />
            <label class="form-check-label" for="{{ postType.id }}">{{
              postType.name
            }}</label>
          </div>
        </div> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Tình trạng:</label>
      <div class="col-sm-9 col-form-label">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            formControlName="condition"
            id="new"
            [value]="true"
          />
          <label class="form-check-label" for="new">Mới</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            formControlName="condition"
            id="used"
            [value]="false"
          />
          <label class="form-check-label" for="used">Đã sử dụng</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="address"
        >Địa Chỉ:<a class="obligatory">(*)</a></label
      >
      <div class="col-sm-9">
        <input
          id="address"
          type="text"
          class="form-control"
          placeholder="Nhập địa chỉ"
          formControlName="address"
        />
        <p
          *ngIf="
            postingForm.controls.address.errors?.required &&
            postingForm.controls.address.touched
          "
          class="text-danger"
        >
          Vui lòng nhập địa chỉ!
        </p>
        <p
          *ngIf="
            postingForm.controls.address.errors?.maxlength &&
            postingForm.controls.address.touched
          "
          class="text-danger"
        >
          Địa chỉ của bạn đã vượt quá số ký tự cho phép. Vui lòng nhập lại!
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="area"
        >Diện Tích:<a class="obligatory">(*)</a></label
      >
      <div class="col-sm-9 input-group">
        <input
          id="area"
          class="form-control"
          placeholder="Nhập diện tích"
          formControlName="area"
        />
        <div class="input-group-append">
          <span class="input-group-text">m<sup>2</sup></span>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <p
          *ngIf="
            postingForm.controls.area.errors?.required &&
            postingForm.controls.area.touched
          "
          class="text-danger"
        >
          Vui lòng nhập diện tích!
        </p>
        <p
          *ngIf="
            postingForm.controls.area.errors?.pattern &&
            postingForm.controls.area.touched
          "
          class="text-danger"
        >
          Sai định dạng số. Vui lòng nhập lại!
        </p>
        <p
          *ngIf="
            postingForm.controls.area.errors?.min &&
            postingForm.controls.area.touched
          "
          class="text-danger"
        >
          Diện tích phải là số dương. Vui lòng nhập lại!
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="directions">Hướng:</label>
      <div class="col-sm-9">
        <select
          class="form-control"
          id="directions"
          formControlName="direction"
        >
          <option
            *ngFor="let direction of direction$ | async"
            [ngValue]="direction"
          >
            {{ direction.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="title"
        >Tiêu Đề:<a class="obligatory">(*)</a></label
      >
      <div class="col-sm-9">
        <input
          id="title"
          type="text"
          class="form-control"
          placeholder="Nhập tiêu đề"
          formControlName="title"
        />
        <p
          *ngIf="
            postingForm.controls.title.errors?.required &&
            postingForm.controls.title.touched
          "
          class="text-danger"
        >
          Vui lòng nhập tiêu đề!
        </p>
        <p
          *ngIf="
            postingForm.controls.title.errors?.maxlength &&
            postingForm.controls.title.touched
          "
          class="text-danger"
        >
          Tiêu đề của bạn đã vượt quá số ký tự cho phép. Vui lòng nhập lại!
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="postContent"
        >Nội Dung:<a class="obligatory">(*)</a></label
      >
      <div class="col-sm-9">
        <textarea
          id="postContent"
          placeholder="Nhập nội dung"
          formControlName="content"
        ></textarea>
        <p
          *ngIf="
            postingForm.controls.content.errors?.required &&
            postingForm.controls.content.touched
          "
          class="text-danger"
        >
          Vui lòng nhập nội dung!
        </p>
        <p
          *ngIf="
            postingForm.controls.content.errors?.maxlength &&
            postingForm.controls.content.touched
          "
          class="text-danger"
        >
          Nội dung của bạn đã vượt quá số ký tự cho phép. Vui lòng nhập lại!
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="price"
        >Giá:<a class="obligatory">(*)</a></label
      >
      <div class="col-sm-9 input-group">
        <input
          id="price"
          class="form-control"
          placeholder="Nhập giá"
          formControlName="price"
        />
        <div class="input-group-append">
          <span class="input-group-text">VNĐ</span>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <p
          *ngIf="
            postingForm.controls.price.errors?.required &&
            postingForm.controls.price.touched
          "
          class="text-danger"
        >
          Vui lòng nhập giá!
        </p>
        <p
          *ngIf="
            postingForm.controls.price.errors?.pattern &&
            postingForm.controls.price.touched
          "
          class="text-danger"
        >
          Sai định dạng số. Vui lòng nhập lại!
        </p>
        <p
          *ngIf="
            postingForm.controls.price.errors?.min &&
            postingForm.controls.price.touched
          "
          class="text-danger"
        >
          Giá phải là số dương. Vui lòng nhập lại!
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label"></label>
      <div class="col-sm-9">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="deal"
            [value]="true"
            id="defaultCheck1"
          />
          <label class="form-check-label" for="defaultCheck1">
            Giá cả có thể thoả thuận.
          </label>
        </div>
      </div>
    </div>
    <!-- <div class="form-group row">
      <label  class="col-sm-3 col-form-label">Hình ảnh:</label>
      <div class="col-sm-9">
        <label style=" color: sandybrown">Chỉ hình ảnh thật của sản phẩm mới được duyệt. Lưu ý không sử dụng hình ảnh có đính kèm số điện thoại hoặc địa chỉ website.</label>
        <div class="row">
          <div *ngFor="let image of listImages" class="d-flex m-1">
            <img [src]="image" height="130" width="150">
          </div>
        </div>
          <p *ngIf="checkValidPostImage" class="text-danger">Thêm ít nhất 5 ảnh!</p>
        <button type="button" (click)="addInput.click()"><img src="../../../../../assets/img/upload-img.png" height="100" width="100"></button>
        <input type="file" accept="image/*" (change)="addImage($event)" hidden multiple #addInput>
      </div>
    </div> -->
    <div class="row d-flex justify-content-center" id="button-post">
      <div class="col-3">
        <button class="btn btn-warning btn-block" routerLink="/" type="button">
          <em class="fa fa-chevron-left"></em> Quay lại
        </button>
      </div>
      <div class="col-3">
        <button
          class="btn btn-info btn-block"
          [disabled]="postingForm.invalid"
          type="submit"
        >
          <em class="fa fa-check"></em> Đăng tin
        </button>
      </div>
    </div>
  </form>
</div>
