.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.note {
  color: sandybrown;
  font-style: italic;
  font-size: small;
  margin: 2px 0 9px 5px;
}
.col-form-label {
  font-weight: bold;
  font-size: small;
}
textarea {
  overflow-y: scroll;
  width: 100%;
  height: 300px;
}
.obligatory {
  color: red;
}
.form-check-label {
  font-weight: normal;
}
#content {
  padding: 15px;
}
#button-post {
  padding: 15px;
}
