<form [formGroup]="searchForm" (submit)="handleSearch()" class="content mt-4">
  <h5 id="text">Mua bán bất động sản</h5>
  <div class="form-group row">
    <div class="col-sm-12 pb-1">
      <input
        type="text"
        class="form-control"
        formControlName="keyword"
        name="keyword"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="addon-wrapping"
      />
    </div>
    <div class="col-sm-12 col-md-6 pb-1">
      <select formControlName="regionId" name="region" class="form-control">
        <option [value]="null">--Chọn vùng miền--</option>
        <option *ngFor="let region of regions$ | async" [value]="region.id">
          {{ region.name }}
        </option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6 pb-1">
      <select formControlName="categoryId" name="category" class="form-control">
        <option [value]="null">--Chọn danh mục--</option>
        <option
          *ngFor="let category of categories$ | async"
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="col-sm-12 row justify-content-between">
      <div class="col-sm-6">
        <h5>Tất cả Cá nhân/Tổ chức.</h5>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-warning float-right">
          <em class="fa fa-search"></em> Tìm kiếm
        </button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="loading$ | async" class="align-items-center">
  <h3 class="text-warning text-center">
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    Đang loading!
  </h3>
</div>

<div
  *ngIf="(posts$ | async)?.empty && !(loading$ | async)"
  class="align-items-center"
>
  <h3 class="text-warning text-center">Không tìm thấy bài đăng!</h3>
</div>
<div *ngIf="!(loading$ | async)" class="col-sm-12 align-content-center">
  <div class="row">
    <div
      class="col-sm-12 col-md-6 col-lg-4 mb-2"
      *ngFor="let post of (posts$ | async)?.content"
    >
      <div
        class="card"
        *ngIf="post.approved"
        [routerLink]="['/post-detail', post.id]"
      >
        <img
          *ngIf="post.postImages.length !== 0"
          class="card-img-top"
          [src]="post.postImages[0].image"
          height="200"
          alt="post image"
        />
        <img
          *ngIf="post.postImages.length === 0"
          class="card-img-top"
          [src]="'../../../../../assets/img/no-image.jpg'"
          height="200"
          alt="post image"
        />
        <div class="card-body">
          <div class="p-title">
            <p class="card-title" *ngIf="post.postType !== null">
              [{{ post?.postType.name }}]&nbsp;
            </p>
          </div>
          <div class="p-title">
            <p class="card-title">{{ post.title }}</p>
          </div>
          <p class="post-price">
            Giá: <strong>{{ post.price | number }}</strong> VNĐ
          </p>
          <div class="post-info">
            <div style="height: 26px">
              <div *ngIf="post.region !== null">
                <em class="fas fa-map-marker-alt"></em> tại
                {{ post?.region.name }}
              </div>
            </div>
            <div>Ngày đăng: {{ post.createdAt | date: "dd/MM/yyyy" }}</div>
            <div>
              <span>
                <em class="fas fa-eye"></em> Lượt xem {{ post.viewCount }}
              </span>
              <label class="float-right" *ngIf="post.customerType"
                >Cá nhân</label
              >
              <label class="float-right" *ngIf="!post.customerType"
                >Công ty</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav
  *ngIf="
    (posts$ | async)?.totalPages !== 1 &&
    !(posts$ | async)?.empty &&
    !(loading$ | async)
  "
  class="d-flex justify-content-center"
>
  <ul class="c-pagination">
    <li
      class="c-page-item"
      [ngClass]="{ 'c-disabled': (posts$ | async)?.first }"
    >
      <span class="c-page-link" (click)="jumpToPage(1)">
        <em class="fa fa-angle-double-left"></em>
      </span>
    </li>
    <li
      class="c-page-item"
      [ngClass]="{ 'c-disabled': (posts$ | async)?.first }"
    >
      <span class="c-page-link" (click)="jumpToPage(pager.currentPage - 1)">
        <em class="fa fa-angle-left"></em>
      </span>
    </li>
    <li class="c-page-item" *ngIf="pager.startPage > 1">
      <a class="c-page-link">...</a>
    </li>
    <li
      *ngFor="let page of pager.pages"
      class="c-page-item"
      [class.active]="(posts$ | async)?.number === page - 1"
    >
      <span class="c-page-link" (click)="jumpToPage(page)">{{ page }}</span>
    </li>
    <li class="c-page-item" *ngIf="pager.endPage < (posts$ | async).totalPages">
      <a class="c-page-link">...</a>
    </li>
    <li
      class="c-page-item"
      [ngClass]="{ 'c-disabled': (posts$ | async)?.last }"
    >
      <span class="c-page-link" (click)="jumpToPage(pager.currentPage + 1)">
        <em class="fa fa-angle-right"></em>
      </span>
    </li>
    <li
      class="c-page-item"
      [ngClass]="{ 'c-disabled': (posts$ | async)?.last }"
    >
      <span class="c-page-link" (click)="jumpToPage(pager.totalPages)">
        <em class="fa fa-angle-double-right"></em>
      </span>
    </li>
  </ul>
</nav>
